<html>
    <head>
     
<!--  <link href="resources/modules/Music/Main.css" rel="stylesheet"/>
        <script src="resources/modules/Music/jquery-1.10.2.min.js"></script>
     -->

 <link href="resources/modules/UserGenreMusic/Main.css" rel="stylesheet"/>
        <script src="resources/modules/UserGenreMusic/jquery-1.10.2.min.js"></script>
    

<script type="text/javascript">

    
    
    
    </script>
    
    </head>



    <body>

        <div ng-controller="userPlaylistCtrlmusic">

        <div id="bg">
            <div id="blackLayer"></div>
            <img src="resources/modules/UserArtistMusic/Poster1.jpg"/>
        </div>
       
       
        <div id="main">

           
            <div id="image">
                <img src="resources/modules/UserArtistMusic/Poster1.jpg"/>
            </div>
            <div id="player">
                <div id="songTitle">Please Play next</div>
                <div id="buttons">
                    <button id="pre" ng-click="pre()"><img src="resources/modules/UserArtistMusic/Pre.png" height="90%" width="90%"/></button>
                    <button id="play" ng-click="playOrPauseSong()"><img src="resources/modules/UserArtistMusic/Pause.png"/></button>
                    <button id="next" ng-click="next()"><img src="resources/modules/UserArtistMusic/Next.png" height="90%" width="90%"/></button>

                </div>
                
                <div id="seek-bar">
                    <div id="fill"></div>
                    <div id="handle"></div>
                </div>
            </div>
        </div>

    </div>
    </body>

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
</html>