<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Caladea&display=swap" rel="stylesheet"> 
  <title>Artist</title>
  <style type="text/css">

.mt40{margin-top:40px;}
 a{text-decoration:none !important;opacity:0.7 !important}
 a:hover{opacity:1 !important;}
/*.uk-card
{
     background: -webkit-linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);  Chrome 10-25, Safari 5.1-6 
  background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
}*/


html{cursor:pointer !important;}
    .uk-navbar{background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6)!important;}
    .uk-background-primary{ background: linear-gradient(to top, #667db6, #0082c8, #0082c8, #667db6)}
    .borders{border-top-left-radius:20px !important;border-bottom-right-radius:20px !important;}

  </style>

  </head>
<body>
  <div ng-controller="languageCntrl">
    

      <form name="languageForm">



    <!-- Navbar --> 
    <div class="w3-teal">
 <nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">
        
        <div class="uk-navbar-item">
           <img src="https://img.icons8.com/cotton/64/000000/menu.png" uk-toggle="target: #offcanvas">
           
        </div>
        <div class="uk-navbar-item">
        <img class="uk-logo uk-margin-top uk-margin-bottom" data-src="resources/assets/images/logo.jpg" width="150px" height="150px" alt="" uk-img>
        </div>
        <ul class="uk-navbar-nav uk-subnav-divider">
            <li class="uk-active uk-margin-small-right"><a href="#">Home</a></li>
            <li class="uk-active uk-margin-small-right"><a href="#">Graphs</a></li>
            <li class="uk-active uk-margin-small-right"><a href="#">Stats</a></li>
        </ul>

        

    </div>
    <div class="uk-margin-medium-left uk-navbar-right uk-margin-medium-right">

        <div>
            <a class="uk-navbar-toggle" uk-search-icon href="#"></a>
            <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
                <form class="uk-search uk-search-navbar uk-width-1-1">
                    <input class="uk-search-input"  type="search" placeholder="Search..." onautofocus style="border:none !important;background-color:transparent !important;font-size:20px !important">
                </form>
            </div>
        </div>

    </div>
<!-- 
<button class="uk-button uk-button-default uk-margin-small-right" type="button" >Open</button>
 -->
 <div class="uk-margin-medium-right uk-margin-medium-top">
<span class="uk-label-danger borders uk-padding-small uk-margin-small-right" uk-icon="icon:sign-out;ratio:1.2" uk-toggle="target: #modal-example">Logout &nbsp</span>
</div>
<div class="uk-margin-medium-top uk-margin-medium-right">

<span class="uk-label-warning w3-circle uk-padding-small uk-margin-small-right"  uk-toggle="target: #offcanvas-flip" uk-icon="icon:cog;ratio:1.2"></span>
</div>


<div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar w3-teal" >

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <h3>Title</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    </div>
</div>



<div id="offcanvas" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar uk-background-primary">
<div class="uk-child-width-expand@s" uk-grid>
    
    <div>

               <center><h3>Dashboard</h3></center>
        
         <ul class="uk-margin-medium-top uk-list ">
            <li><a ui-sref="genereMaster">Genere<span class=" uk-align-right uk-margin-small-left" uk-icon="icon:plus-circle;ratio:1.2 "></span></a></li><hr>
            <li><a ui-sref="artistMaster">Artist<span class="uk-margin-small-left uk-align-right" uk-icon="icon:users;ratio:1.2 "></span></a></li><hr>
            <li><a ui-sref="actorMaster">Actor<span class="uk-margin-small-left  uk-align-right" uk-icon="icon:user;ratio:1.2 "></span></a></li><hr>
            <li><a ui-sref="songMaster">Song<span class="uk-margin-small-left  uk-align-right" uk-icon="icon:play-circle;ratio:1.2 "></span></a></li><hr>
            <li><a ui-sref="weatherMaster">Weather<span class="uk-margin-small-left  uk-align-right" uk-icon="icon:world;ratio:1.2 "></span></a></li><hr>
            <li><a ui-sref="languageMaster">Language<span class="uk-margin-small-left  uk-align-right" uk-icon="icon:info;ratio:1.2 "></span></a></li><hr>
            <li><a ui-sref="albumMaster">Album<span class="uk-margin-small-left  uk-align-right" uk-icon="icon:youtube;ratio:1.2 "></span></a></li><hr>
            <li><a ui-sref="playlistMaster">Playlist<span class="uk-margin-small-left  uk-align-right" uk-icon="icon:cloud-upload;ratio:1.2 "></span></a></li>          
        </ul>
    </div>
    </div>
</div>
</div>



<!-- This is the modal -->
<div id="modal-example" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Headline</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="button">Save</button>
        </p>
    </div>
</div>
</nav>
    </div>





     <div class="w3-container">
              <div class="row form-group">
                  <div class="card-group col-md-5" style="margin-top:3%;padding-left:6% !important">
                           <div class="w3-card w3-white col-md-12" style="background-color: transparent !important;border-top-left-radius:40px;border-bottom-left-radius:40px">
                                  <div class="pad">
                                        
                                        <div class="container">
      <div class="shape"><center><h3 class="fonts" style="padding-top:100px;font-size:40px">Language Master</h3>
      </center>
      
      </div>
    </div>
                                  </div>
                            </div>
                  </div>


                  <div class="col-md-7 w3-card w3-white" style="margin-top:3%; margin-left: -60px;border-top-right-radius: 40px;border-bottom-right-radius:40px">
                           <div class="row uk-margin-top form-group">
                                <div class="offset-1 col-md-4 pad">   
                                     <label class="ubuntu">Language Name</label>
                                     <input class="ubuntu uk-input"  ng-model="langObj.languageName"  type="text" style="border-top-right-radius:20px;border-bottom-left-radius:20px;border-left-width:4px;">
                                </div>
                                <div class="offset-2 col-md-4 pad" style="margin-top:5% !important">
                                  <md-input-container class=" md-block media11" flex-gt-sm>
                                <label class="ubuntu">Language Status</label>
                                <md-select ng-model="langObj.languageStatus" required style="min-width:200px;min-height:40px">
                                <md-option ng-repeat="status in statuslist" value="{{status}}">{{status}}</md-option>
                                </md-select>
                            </md-input-container>
                                </div>
                           </div>





                    <div class="row form-group pad" style="margin-bottom:7%;margin-top:7% !important;">
                          <div class="offset-2 col-md-3 pad">  
                            
                               <button type="button" class="btn-hover color-1  w3-btn" ng-click="insertRecord(langObj)">Save</button>
                          </div>

                          <div class="offset- col-md-3 pad">  
                            
                               <button type="button" class="btn-hover color-2  w3-btn" >Clear</button>
                          </div>
                          <div class="col-md-3 pad">  
                            
                               <button type="button" class="btn-hover color-11  w3-btn">Cancel</button>
                          </div>
                    </div> 
              </div> <!-- col-md division ended-->
               </div>
    </div>




     </div>
</form>
  </div>
</body>
  </html>
