<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Caladea&display=swap" rel="stylesheet"> 
  <title>Song</title>
  <style type="text/css">

.mt40{margin-top:40px;}
 a{text-decoration:none !important;opacity:0.7 !important}
 a:hover{opacity:1 !important;}
 .backgroundFi{background-image:url(resources/assets/images/mo.jpg) !important;background-size:cover !important;background-size:auto auto !important;}
/*.uk-card
{
     background: -webkit-linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);  Chrome 10-25, Safari 5.1-6 
  background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
}*/


html{cursor:pointer !important;}
    .uk-navbar{background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6)!important;}
    .uk-background-primary{ background: linear-gradient(to top, #667db6, #0082c8, #0082c8, #667db6)}
    .borders{border-top-left-radius:20px !important;border-bottom-right-radius:20px !important;}





    #playlist
    {
      list-style: none;

    }

    #playlist li a
    {
      color: black;
      text-decoration: none;
    }

    #playlist .current-song a
    {
      color: blue;
    }

/*new*/




  </style>
<!-- 
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.3/howler.min.js" integrity="sha256-/Q4ZPy6sMbk627wHxuaWSIXS1y7D2KnMhsm/+od7ptE=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.3/howler.spatial.min.js" integrity="sha256-FnoEYQo1WoCprbo3Jt08GQNf2oCfTDAvxKvUZB0YDHo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.3/howler.js" integrity="sha256-FNAKr1U+8W8E3zROGSYO2dQKFHIpoGU/TVm8aGpGWUY=" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.3/howler.core.min.js" integrity="sha256-KNY0IDDc9kAie/G8wTJ9BeGjBRqoPgadY2FQM0JmdYc=" crossorigin="anonymous"></script>

<script>
  
var sound = new Howl({

  src:['Yaad Hai-(SwagyJatt.CoM).mp3','test.ogg'],

})

var sound2 = new Howl({

  src:['swarg ha nava(FunMarathi.Com).mp3','test.ogg'],

})


function play1(){
  sound.play();
  sound2.stop();
}


function play2(){
  sound2.play();
  sound.stop();
}
</script>

 -->

 <script>
   
   audioPlayer();
   function audioPlayer()
   {
    alert("hiii priya");

var currentsong=0;
    $("#audioPlayer")[0].src=$("#playlist li a")[0];

    $("#audioPlayer")[0].play();

      $("#playlist li a").click(function(e){

        e.preventDefault();
         $("#audioPlayer")[0].src=this;
         $("#audioPlayer")[0].play();

         $("#playlist li").removeClass("current-song");

         currentsong=$(this).parent().index();


         $(this).parent().addClass("current-song");
      });

 $("#audioPlayer")[0].addEventListener("ended",function(){

  alert("bye");
  currentsong++;

  if (currentsong==$(#playlist li a).length) 

    currentsong=0;
  $("#playlist li").removeClass("current-song");

   $("#playlist li:eq("+currentsong+")").addClass("current-song");


$("#audioPlayer")[0].src=$("#playlist li a")[currentsong].href;
$("#audioPlayer")[0].play();




 });



   }
 </script>

 <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
  </head>
<body>
  <div ng-controller="songCntrl">
    

      <form name="songForm">



    <!-- Navbar --> 
    <div class="w3-teal">
 <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        
        <div class="uk-navbar-item">
           <img src="https://img.icons8.com/cotton/64/000000/menu.png" uk-toggle="target: #offcanvas">
           
        </div>
        <div class="uk-navbar-item">
        <img class="uk-logo uk-margin-top uk-margin-bottom" data-src="resources/assets/images/logo.jpg" width="150px" height="150px" alt="" uk-img>
        </div>
        <ul class="uk-navbar-nav uk-subnav-divider">
            <li class="uk-active uk-margin-small-right"><a href="#">Home</a></li>
            <li class="uk-active uk-margin-small-right"><a href="#">Graphs</a></li>
            <li class="uk-active uk-margin-small-right"><a href="#">Stats</a></li>
        </ul>

        

    </div>
    <div class="uk-margin-medium-left uk-navbar-right uk-margin-medium-right">

        <div>
            <a class="uk-navbar-toggle" uk-search-icon href="#"></a>
            <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
                <form class="uk-search uk-search-navbar uk-width-1-1">
                    <input class="uk-search-input"  type="search" placeholder="Search..." onautofocus style="border:none !important;background-color:transparent !important;font-size:20px !important">
                </form>
            </div>
        </div>

    </div>
<!-- 
<button class="uk-button uk-button-default uk-margin-small-right" type="button" >Open</button>
 -->
 <div class="uk-margin-medium-right uk-margin-medium-top">
<span class="uk-label-danger borders uk-padding-small uk-margin-small-right" uk-icon="icon:sign-out;ratio:1.2" uk-toggle="target: #modal-example">Logout &nbsp</span>
</div>
<div class="uk-margin-medium-top uk-margin-medium-right">

<span class="uk-label-warning w3-circle uk-padding-small uk-margin-small-right"  uk-toggle="target: #offcanvas-flip" uk-icon="icon:cog;ratio:1.2"></span>
</div>


<div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar w3-teal" >

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <h3>Title</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    </div>
</div>



<div id="offcanvas" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar uk-background-primary">
<div class="uk-child-width-expand@s" uk-grid>
    
    <div>

               <center><h3>Dashboard</h3></center>
        
      <ul class="uk-margin-medium-top uk-list ">
            <li><a ui-sref="genereMaster">Genere<span class=" uk-align-right uk-margin-small-left" uk-icon="icon:plus-circle;ratio:1.2 "></span></a></li><hr>
            <li><a ui-sref="artistMaster">Artist<span class="uk-margin-small-left uk-align-right" uk-icon="icon:users;ratio:1.2 "></span></a></li><hr>
            <li><a ui-sref="actorMaster">Actor<span class="uk-margin-small-left  uk-align-right" uk-icon="icon:user;ratio:1.2 "></span></a></li><hr>
            <li><a ui-sref="songMaster">Song<span class="uk-margin-small-left  uk-align-right" uk-icon="icon:play-circle;ratio:1.2 "></span></a></li><hr>
            <li><a ui-sref="weatherMaster">Weather<span class="uk-margin-small-left  uk-align-right" uk-icon="icon:world;ratio:1.2 "></span></a></li><hr>
            <li><a ui-sref="languageMaster">Language<span class="uk-margin-small-left  uk-align-right" uk-icon="icon:info;ratio:1.2 "></span></a></li><hr>
            <li><a ui-sref="albumMaster">Album<span class="uk-margin-small-left  uk-align-right" uk-icon="icon:youtube;ratio:1.2 "></span></a></li><hr>
            <li><a ui-sref="playlistMaster">Playlist<span class="uk-margin-small-left  uk-align-right" uk-icon="icon:cloud-upload;ratio:1.2 "></span></a></li>          
        </ul>
    </div>
    </div>
</div>
</div>



<!-- This is the modal -->
<div id="modal-example" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Headline</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="button">Save</button>
        </p>
    </div>
</div>
</nav>
    </div>





     <div class="w3-container backgroundFi">
              <div class="row form-group">
                  <div class="card-group col-md-5" style="margin-top:3%;padding-left:6% !important">
                           <div class="w3-card w3-white col-md-12" style="background-color: transparent !important;border-top-left-radius:40px;border-bottom-left-radius:40px">
                                  <div class="pad">
                                        
                                        <div class="container">
      <div class="shape"><center><h3 class="fonts" style="padding-top:100px;font-size:40px">Song<br> Master</h3>
      </center>
      
      </div>
    </div>
                                  </div>
                            </div>
                  </div>


                  <div class="col-md-7 w3-card w3-white" style="margin-top:3%; margin-left: -60px;border-top-right-radius: 40px;border-bottom-right-radius:40px">
                           <div class="row uk-margin-top form-group">
                                <div class="offset-1 col-md-4 pad">   
                                     <label class="ubuntu">Song Name</label>
                                     <input class="ubuntu uk-input" type="text"  ng-model="songObj.songName"  style="border-top-right-radius:20px;border-bottom-left-radius:20px;border-left-width:4px;">
                                </div>
                                <div class="offset-2 col-md-4 pad">  
                                    <label class="ubuntu">Song Description</label>
                                     <input class="ubuntu uk-input" type="text"  ng-model="songObj.songDesc"   style="border-top-right-radius:20px;border-bottom-left-radius:20px;border-left-width:4px;">
                                </div>
                           </div>
                          

                           <div class="row uk-margin-top form-group">

                                <div class="offset-1 col-md-4 pad" style="margin-top: 7% !important">  
                                
                                 <input type="file" id="myFile" size="50" ng-model="songObj.songUrl">
                                </div>
                                <div class="offset-2 col-md-4 pad">  
                                    <md-input-container class="md-block media11" flex-gt-sm>
                                     <label class="ubuntu">Song Artist</label>
                                     <md-select ng-model="songObj.artistModel"  required style="min-width:200px;min-height:40px">
                                     <md-option ng-repeat="name in activeArtistList" value="{{name}}">{{name.artistName}}</md-option>
                                     </md-select>
                                  </md-input-container>
                                </div>
                           </div>



                           <div class="row uk-margin-top form-group">
                                <div class="offset-1 col-md-4 pad"> 
                                  <md-input-container class="md-block media11" flex-gt-sm>
                                     <label class="ubuntu">Song Weather</label>
                                     <md-select ng-model="songObj.weatherModel" required style="min-width:200px;min-height:40px">
                                     <md-option ng-repeat="name in activeWeatherList" value="{{name}}">{{name.weatherName}}</md-option>
                                     </md-select>
                                  </md-input-container>
                                </div>
                                <div class="offset-2 col-md-4 pad">  
                                    <md-input-container class="md-block media11" flex-gt-sm>
                                     <label class="ubuntu">Song Actor/Actress</label>
                                     <md-select ng-model="songObj.actorModel" required style="min-width:200px;min-height:40px">
                                     <md-option ng-repeat="name in activeActorList" value="{{name}}">{{name.actorName}}</md-option>
                                     </md-select>
                                  </md-input-container>
                                </div>
                           </div>



                           <div class="row uk-margin-top form-group">
                                <div class="offset-1 col-md-4 pad"> 
                                  <md-input-container class="md-block media11" flex-gt-sm>
                                     <label class="ubuntu">Song Language</label>
                                     <md-select ng-model="songObj.languageModel" required style="min-width:200px;min-height:40px">
                                     <md-option ng-repeat="name in activeLangList" value="{{name}}">{{name.languageName}}</md-option>
                                     </md-select>
                                  </md-input-container>
                                </div>
                                <div class="offset-2 col-md-4 pad">  
                                    <md-input-container class="md-block media11" flex-gt-sm>
                                     <label class="ubuntu">Song Album</label>
                                     <md-select ng-model="songObj.albumModel" required style="min-width:200px;min-height:40px">
                                     <md-option ng-repeat="name in activeAlbumList" value="{{name}}">{{name.albumName}}</md-option>
                                     </md-select>
                                  </md-input-container>
                                </div>
                           </div>



                           <div class="row uk-margin-top form-group">
                                <div class="offset-1 col-md-4 pad"> 
                                  <md-input-container class="md-block media11" flex-gt-sm>
                                     <label class="ubuntu">Song PlayList</label>
                                     <md-select ng-model="songObj.playListModel" required style="min-width:200px;min-height:40px">
                                     <md-option ng-repeat="name in activePlayList" value="{{name}}">{{name.playlistName}}</md-option>
                                     </md-select>
                                  </md-input-container>
                                </div>
                                <div class="offset-2 col-md-4 pad"> 
                                  <md-input-container class="md-block media11" flex-gt-sm>
                                     <label class="ubuntu">Song Genere</label>
                                     <md-select ng-model="songObj.generModel"  required style="min-width:200px;min-height:40px">
                                     <md-option ng-repeat="name in activeGenrelist"  value="{{name}}">{{name.generName}}</md-option>
                                     </md-select>
                                  </md-input-container>
                                </div>
                                
                           </div>




<!-- tp -->



                           <div class="row uk-margin-top form-group">
                                <div class="offset-1 col-md-4 pad" ng-repeat="s in mylist"> 
                               <!--   <audio controls autoplay> -->
 <!--  <source src="resources/assets/Songs/Chura Liya (Cover) - Jonita Gandhi, Anton Apostolov, Sahil Khan.mp3" type="audio/ogg">
  <source src="resources/assets/Songs/Chura Liya (Cover) - Jonita Gandhi, Anton Apostolov, Sahil Khan.mp3" type="audio/mpeg"> -->

   <!--   <source src="{{s.songUrl}}" type="audio/ogg">
  <source src="{{s.songUrl}}" type="audio/mpeg">
 -->




<!-- 
    <audio controls>

  <source src="horse.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio> -->
 <!-- 
</audio>
      -->                        

      <!--     <audio src="" controls id="audioPlayer">
            sorry
          </audio>
 -->
          <ul id="playlist">
            <li class="current-song"><a href="resources/modules/SongMaster/YaadHai.mp3">YaadHai</a></li>
              <li ><a href="resources/modules/SongMaster/swarghanava.mp3">swarghanava</a></li>
          </ul>

        </div>
                                <!-- <div class="offset-2 col-md-4 pad"> 
                                  <md-input-container class="md-block media11" flex-gt-sm>
                                     <label class="ubuntu">Song Genere</label>
                                     <md-select ng-model="songObj.generModel"  required style="min-width:200px;min-height:40px">
                                     <md-option ng-repeat="name in activeGenrelist"  value="{{name}}">{{name.generName}}</md-option>
                                     </md-select>
                                  </md-input-container>
                                </div> -->
                                
                           </div>



                           <!-- tp -->

                           <div class="row uk-margin-top form-group">
                                <div class="uk-align-center col-md-4 pad">  
                                <md-input-container class="md-block media11" flex-gt-sm>
                                <label class="ubuntu">Song Status</label>
                                <md-select ng-model="songObj.songstatus" required style="min-width:200px;min-height:40px">
                                <md-option ng-repeat="status in statuslist" value="{{status}}">{{status}}</md-option>
                                </md-select>
                            </md-input-container>
                                </div>
                           </div>



<!-- 
                           <div class="row mt40 uk-margin-top-large form-group">
                         <div class="uk-align-center col-md-3 pad">  
                             
                          </div>
                    </div>
 -->


                    <div class="row form-group pad" style="margin-bottom:7%;">
                          <div class="offset-2 col-md-3 pad">  
                            
                               <button type="button" class="btn-hover color-1  w3-btn" ng-click="insertRecord(songObj)">Save</button>



   <!--                                                           

<button onclick="play1()">1st</button>
<button onclick="play2()">2nd</button> -->
 
                          </div>

                          <div class="offset- col-md-3 pad">  
                            
                               <button type="button" class="btn-hover color-2  w3-btn" ng-click="filePath()">Clear</button>


                          </div>
                          <div class="col-md-3 pad">  
                            
                               <button type="button" class="btn-hover color-11  w3-btn">Cancel</button>
                          </div>
                    </div> 
              </div> <!-- col-md division ended-->
               </div>
    </div>




     </div>
</form>
  </div>
</body>
  </html>
